*.font: xft:Hack:size=15
!*.depth: 32

! special
*.background: #1E1E2E
URxvt*background: [95]#1E1E2E
*.foreground: #CDD6F4
*.cursorColor: #F5E0DC

! black
*.color0: #45475A
*.color8: #585B70

! red
*.color1: #F38BA8
*.color9: #F38BA8

! green
*.color2: #A6E3A1
*.color10: #A6E3A1

! yellow
*.color3: #F9E2AF
*.color11: #F9E2AF

! blue
*.color4: #89B4FA
*.color12: #89B4FA

! magenta
*.color5: #CBA6F7
*.color13: #CBA6F7

! cyan
*.color6: #94E2D5
*.color14: #94E2D5

! white
*.color7: #BAC2DE
*.color15: #A6ADC8

!! * Appearance
*.letterSpace: 0
*.lineSpace: 0
*.geometry: 92x24
*.internalBorder: 24
*.cursorBlink: true
*.cursorUnderline: false
*.saveline: 2048
*.scrollBar: false
*.scrollBar_right: false
*.urgentOnBell: true
*.depth: 32
*.iso14755: false
